.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

nav .active {
	font-weight: bold;
}

ul.nav {
	padding: 0px 30px 0px 8px;
	float: left;
}
.nav > li {
	display: inline-block;
	padding-left: 10px;
}
.nav.navbar-right {
	float: right;
	padding-top: 5px;
}
.navbar-header {
	background: url("/Logomakr_7sxs2a.png") no-repeat 10px 8px;
	background-size: 20px;
	padding-left: 18px;
	animation: mymove 5s infinite;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}
label.gender, label.theme {
	margin: 7px 0;
	float: left;
	padding-left: 0;
	height: auto;
}
.col-sm-4 select {
 float: right;
 width: 80%;
 padding-right: 0;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
.col-sm-6 {
	margin: 0;
}
.col-sm-4 {
	padding-top: 0;
}
.panel-primary > .panel-heading.G {
	background-color: #d66276;
	border-color: #d66276;
}

.panel.disabled {
    color: #ccc;
		font-style: italic;
    border-color: #f5f5f5;
}
.panel.disabled > .panel-heading {
	color: #ccc;
	font-style: italic;
	background-color: #f5f5f5;
	border-color: #f5f5f5;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: none;
}
.square-service-block{
	position:relative;
	overflow:hidden;
	margin:15px auto;
	}
.square-service-block a {
  background-color: #33b77c;
  border-radius: 5px;
  display: block;
  padding: 60px 20px;
  text-align: center;
  width: 100%;
}
.square-service-block.Giving a {
	background-color: #efe228;
}
.square-service-block.Spending a {
	background-color: #e74c3c;
}
.square-service-block a:hover{
  opacity: 50%;
  border-radius: 5px;
}

.ssb-icon {
  color: #fff;
  display: inline-block;
  font-size: 28px;
  margin: 0 0 20px;
}

h2.ssb-title {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  margin:0;
  padding:0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .col-sm-6 {
    width: auto;
		margin: 7px 0;
  }
	.col-sm-4 {
    float: left;
		width: 83%;
		padding-top: 7px;
  }
	.col-sm-4 select {
		float: none;
		width: 100%;
	}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
